.setting-font-style {
  color: #1e2224;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02563rem;
  text-transform: capitalize;
}

button {
  cursor: pointer;
}

/* side panel css  */

.setting-side-panel {
  width: 15rem;
  height: 56.81rem;
  background: #f8fafb;
}

.go-back-btn button {
  color: #33475b;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-top: 1.19rem;
  background-color: #fff;
  border: none;
}

.go-back-btn button span {
  margin-left: 0.2rem;
}

.setting-heading {
  margin-top: 1.56rem;
  margin-left: 2rem;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
}

.prefrence {
  margin-left: 2rem;
  margin-top: 3.75rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.prefrence-options {
  margin-left: 2rem;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 0.875rem;
}
